# === SYSTEM / ENV ===
.env
.env.*
/storage/*.key
/storage/.license
/storage/installing
/storage/installed
Homestead.json
Homestead.yaml
/phpunit.xml
/phpunit.result.cache

# === LOCAL / IDE ===
.DS_Store
Thumbs.db
/.idea
/.vscode
/.vagrant
/.phpintel
.phpactor.json
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
/.php_cs.cache
/.scribe
npm-debug.log
yarn.lock
bun.lockb

# === CACHE / RUNTIME ===
/storage/framework/*
!/storage/framework/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/*.php
/storage/cache_keys.json
/public/hot
/public/storage
/public/mix-manifest.json

# === UPLOADS / USER DATA ===
/storage/app/public/*
/storage/app/backup/*
/storage/fonts
/storage/framework/laravel-excel/
/lang/*
!/lang/en

# === BUILD / NODE ===
/node_modules
/bower_components
/public/vendor/core
/public/themes
/public/docs
/resources/docs
/vendor

# === MISC ===
/log
__MACOSX

# === STAGE / DEPLOY SCRIPTS (keep!) ===
# keep deploy.php and .yml
/.github/workflows
