RewriteEngine on

# Skip deploy.php from being redirected
RewriteCond %{REQUEST_URI} ^/deploy\.php$
RewriteRule ^ - [L]

# Redirect Trailing Slashes If Not A Folder...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [L,R=301]

# If not accessing the public folder, redirect into it Test
RewriteCond %{REQUEST_URI} !^public
RewriteRule ^(.*)$ public/$1 [L]
